<!DOCTYPE html>
<html>
<head>
    <title>Obuna</title>
</head>

<body style="background:black;color:white;text-align:center;font-family:sans-serif;">

<h1>💎 Obuna sotib olish</h1>

<div style="background:#111;padding:15px;margin:10px;border-radius:10px;">
<h2>1 OY</h2>
<p>20 000 so'm</p>
<button>Sotib olish</button>
</div>

<div style="background:#111;padding:15px;margin:10px;border-radius:10px;">
<h2>3 OY</h2>
<p>50 000 so'm</p>
<button>Sotib olish</button>
</div>

<div style="background:#111;padding:15px;margin:10px;border-radius:10px;">
<h2>6 OY</h2>
<p>90 000 so'm</p>
<button>Sotib olish</button>
</div>

<div style="background:#111;padding:15px;margin:10px;border-radius:10px;">
<h2>1 YIL</h2>
<p>150 000 so'm</p>
<button>Sotib olish</button>
</div>

</body>
</html>
